<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->



<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Auralia - Construction Business HTMl Template</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="assets/css/colors/color1.css" id="colors">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="assets/icon/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/icon/apple-touch-icon-158-precomposed.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">

    <!--[if lt IE 9]>
        <script src="javascript/html5shiv.js"></script>
        <script src="javascript/respond.min.js"></script>
    <![endif]-->


    <style>
        input[type=text],input[type=email], select, textarea {
        width: 100%;
        padding: 5px;
        border: 1px solid #000;
        border-radius: 4px;
        resize: vertical;
      }
      
      label {
        padding: 5px 5px 5px 0;
        display: inline-block;
      }
      
      .open-button {
            background-color: #DE242A;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 70px;
    right: 25px;
    width: 280px;
    z-index: 1000;
      }
      
      /* The popup form - hidden by default */
      .form-popup {
        display: none;
    position: fixed;
    bottom: 23px;
    right: 23px;
    border-radius: 20%;
    width: 352px;
    z-index: 1000;
      }
      
      /* Add styles to the form container */
      .form-container {
        max-width: 100%;
    padding: 30px;
    border-radius: 8%;
    background-color: white;
      }
      
      /* Full-width input fields */
      /*.form-container input[type=text], .form-container input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
      }
      */
      /* When the inputs get focus, do something */
      .form-container input[type=text]:focus, .form-container input[type=password]:focus {
        background-color: #ddd;
        outline: none;
      }
      
      /* Set a style for the submit/login button */
      .form-container .btn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
      }
      
      /* Add a red background color to the cancel button */
      .form-container .cancel {
        background-color: red;
      }
      
      /* Add some hover effects to buttons */
      .form-container .btn:hover, .open-button:hover {
        opacity: 1;
      }
      </style>

</head>

<body class="header-fixed page no-sidebar header-style-3 topbar-style-3 site-header-absolute menu-has-search">

<div id="wrapper" class="animsition">
    <div id="page" class="clearfix">
        <!-- Header Wrap -->
        <div id="site-header-wrap">
            <!-- Top Bar -->        


            <!-- Header -->
            <header id="site-header">
                <div id="site-header-inner" class="container">                    
                    <div class="wrap-inner clearfix">
                        <div id="site-logo" class="clearfix">
                            <div id="site-log-inner">
                                <a href="/" rel="home" class="main-logo">
                                    <img src="assets/img/logo1.png" alt="Auralia" width="60" height="11" data-width="169" data-height="39">
                                </a>
                            </div>
                        </div><!-- /#site-logo -->

                        <div class="mobile-button">
                            <span></span>
                        </div><!-- /.mobile-button -->

                        <nav id="main-nav" class="main-nav">
                            <ul id="menu-primary-menu" class="menu">
                                <li class="menu-item menu-item-has-children current-menu-item">
                                    <a href="home-2.html">HOME</a>
                                    
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a href="#about">ABOUT US </a>
                                    
                                </li>
                               
                                <li class="menu-item menu-item-has-children">
                                    <a href="#project">PROJECTS</a>
                                    
                                </li>
                                
                                <li class="menu-item menu-item-has-children">
                                    <a href="#contact">CONTACT</a>
                                    
                                </li>
                            </ul>
                        </nav><!-- /#main-nav -->


                    </div><!-- /.wrap-inner -->                    
                </div><!-- /#site-header-inner -->
            </header><!-- /#site-header -->
        </div><!-- #site-header-wrap -->
        

        <!-- Main Content -->
        <div id="main-content" class="site-main clearfix">
            <div id="content-wrap">
                <div id="site-content" class="site-content clearfix">
                    <div id="inner-content" class="inner-content-wrap">
                       <div class="page-content">
                           <!-- SLIDER -->
                            <div class="rev_slider_wrapper fullwidthbanner-container">
                                <div id="rev-slider2" class="rev_slider fullwidthabanner">
                                    <ul>
                                        <!-- Slide 1 -->
                                        <li data-transition="random">
                                            <!-- Main Image -->
                                            <img src="assets/img/slider/1.png" alt="" data-bgposition="center center" data-no-retina>
                                           
                                            <!-- Layers -->
                                            <div class="tp-caption tp-resizeme text-white font-heading font-weight-600 "
                                                data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                                                data-y="['middle','middle','middle','middle']" data-voffset="['-90','-90','-90','-90']"
                                                data-fontsize="['20','20','20','16']"
                                                data-lineheight="['70','70','40','24']"
                                                data-width="full"
                                                data-height="none"
                                                data-whitespace="normal"
                                                data-transform_idle="o:1;"
                                                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                                data-mask_in="x:0px;y:[100%];" 
                                                data-mask_out="x:inherit;y:inherit;" 
                                                data-start="700" 
                                                data-splitin="none" 
                                                data-splitout="none" 
                                                data-responsive_offset="on">
                                                A GLOBAL LEADER IN INFRASTRUCTURE
                                            </div>

                                            <div class="tp-caption tp-resizeme text-white font-heading font-weight-700"
                                                data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                                                data-y="['middle','middle','middle','middle']" data-voffset="['-20','-20','-20','-20']"
                                                data-fontsize="['52','52','42','32']"
                                                data-lineheight="['65','65','45','35']"
                                                data-width="full"
                                                data-height="none"
                                                data-whitespace="normal"
                                                data-transform_idle="o:1;"
                                                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                                data-mask_in="x:0px;y:[100%];" 
                                                data-mask_out="x:inherit;y:inherit;" 
                                                data-start="1000" 
                                                data-splitin="none" 
                                                data-splitout="none" 
                                                data-responsive_offset="on">
                                                WE WILL BE HAPPY
                                            </div>

                                            <div class="tp-caption tp-resizeme text-white font-heading font-weight-700"
                                                data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                                                data-y="['middle','middle','middle','middle']" data-voffset="['45','45','45','45']"
                                                data-fontsize="['52','52','42','32']"
                                                data-lineheight="['65','65','45','35']"
                                                data-width="full"
                                                data-height="none"
                                                data-whitespace="normal"
                                                data-transform_idle="o:1;"
                                                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                                data-mask_in="x:0px;y:[100%];" 
                                                data-mask_out="x:inherit;y:inherit;" 
                                                data-start="1000" 
                                                data-splitin="none" 
                                                data-splitout="none" 
                                                data-responsive_offset="on">
                                                TO TAKE CARE OF YOUR WORK
                                            </div>

                                            <div class="tp-caption "
                                                data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                                                data-y="['middle','middle','middle','middle']" data-voffset="['153','153','153','153']"
                                                data-width="full"
                                                data-height="none"
                                                data-whitespace="normal"
                                                data-transform_idle="o:1;"
                                                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                                data-mask_in="x:0px;y:[100%];" 
                                                data-mask_out="x:inherit;y:inherit;" 
                                                data-start="1000" 
                                                data-splitin="none" 
                                                data-splitout="none" 
                                                data-responsive_offset="on">
                                                <a onclick="openForm()" style="color: #fff; cursor: pointer;" class="themesflat-button bg-accent big"><span>GET IN TOUCH</span></a>
                                            </div>
                                        </li>
                                        <!-- /End Slide 1 -->

                                        <!-- Slide 2 -->
                                        <li data-transition="random">
                                            <!-- Main Image -->
                                            <img src="assets/img/slider/2.png" alt="" data-bgposition="center center" data-no-retina>
                                           
                                            <!-- Layers -->
                                            <div class="tp-caption tp-resizeme text-white font-heading font-weight-600 text-center"
                                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                                data-y="['middle','middle','middle','middle']" data-voffset="['-90','-90','-90','-90']"
                                                data-fontsize="['20','20','20','16']"
                                                data-lineheight="['70','70','40','24']"
                                                data-width="full"
                                                data-height="none"
                                                data-whitespace="normal"
                                                data-transform_idle="o:1;"
                                                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                                data-mask_in="x:0px;y:[100%];" 
                                                data-mask_out="x:inherit;y:inherit;" 
                                                data-start="700" 
                                                data-splitin="none" 
                                                data-splitout="none" 
                                                data-responsive_offset="on">
                                                A GLOBAL LEADER IN INFRASTRUCTURE
                                            </div>

                                            <div class="tp-caption tp-resizeme text-white font-heading font-weight-700 text-center"
                                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                                data-y="['middle','middle','middle','middle']" data-voffset="['-20','-20','-20','-20']"
                                                data-fontsize="['52','52','42','32']"
                                                data-lineheight="['65','65','45','35']"
                                                data-width="full"
                                                data-height="none"
                                                data-whitespace="normal"
                                                data-transform_idle="o:1;"
                                                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                                data-mask_in="x:0px;y:[100%];" 
                                                data-mask_out="x:inherit;y:inherit;" 
                                                data-start="1000" 
                                                data-splitin="none" 
                                                data-splitout="none" 
                                                data-responsive_offset="on">
                                                WE WILL BE HAPPY
                                            </div>

                                            <div class="tp-caption tp-resizeme text-white font-heading font-weight-700 text-center"
                                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                                data-y="['middle','middle','middle','middle']" data-voffset="['45','45','45','45']"
                                                data-fontsize="['52','52','42','32']"
                                                data-lineheight="['65','65','45','35']"
                                                data-width="full"
                                                data-height="none"
                                                data-whitespace="normal"
                                                data-transform_idle="o:1;"
                                                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                                data-mask_in="x:0px;y:[100%];" 
                                                data-mask_out="x:inherit;y:inherit;" 
                                                data-start="1000" 
                                                data-splitin="none" 
                                                data-splitout="none" 
                                                data-responsive_offset="on">
                                                TO TAKE CARE OF YOUR WORK
                                            </div>

                                            <div class="tp-caption text-center"
                                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                                data-y="['middle','middle','middle','middle']" data-voffset="['153','153','153','153']"
                                                data-width="full"
                                                data-height="none"
                                                data-whitespace="normal"
                                                data-transform_idle="o:1;"
                                                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                                data-mask_in="x:0px;y:[100%];" 
                                                data-mask_out="x:inherit;y:inherit;" 
                                                data-start="1000" 
                                                data-splitin="none" 
                                                data-splitout="none" 
                                                data-responsive_offset="on">
                                                <a onclick="openForm()"  style="color: #fff; cursor: pointer;" class="themesflat-button bg-accent big"><span>GET IN TOUCH</span></a>
                                            </div>
                                        </li>
                                        <!-- /End Slide 2 -->

                                        <!-- Slide 3 -->
                                        <li data-transition="random">
                                            <!-- Main Image -->
                                            <img src="assets/img/slider/3.png" alt="" data-bgposition="center center" data-no-retina>
                                           
                                            <!-- Layers -->
                                            <div class="tp-caption tp-resizeme text-white font-heading font-weight-600 text-right"
                                                data-x="['right','right','right','center']" data-hoffset="['0','0','0','0']"
                                                data-y="['middle','middle','middle','middle']" data-voffset="['-90','-90','-90','-90']"
                                                data-fontsize="['20','20','20','16']"
                                                data-lineheight="['70','70','40','24']"
                                                data-width="full"
                                                data-height="none"
                                                data-whitespace="normal"
                                                data-transform_idle="o:1;"
                                                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                                data-mask_in="x:0px;y:[100%];" 
                                                data-mask_out="x:inherit;y:inherit;" 
                                                data-start="700" 
                                                data-splitin="none" 
                                                data-splitout="none" 
                                                data-responsive_offset="on">
                                                A GLOBAL LEADER IN INFRASTRUCTURE
                                            </div>

                                            <div class="tp-caption tp-resizeme text-white font-heading font-weight-700 text-right"
                                                data-x="['right','right','right','center']" data-hoffset="['0','0','0','0']"
                                                data-y="['middle','middle','middle','middle']" data-voffset="['-20','-20','-20','-20']"
                                                data-fontsize="['52','52','42','32']"
                                                data-lineheight="['65','65','45','35']"
                                                data-width="full"
                                                data-height="none"
                                                data-whitespace="normal"
                                                data-transform_idle="o:1;"
                                                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                                data-mask_in="x:0px;y:[100%];" 
                                                data-mask_out="x:inherit;y:inherit;" 
                                                data-start="1000" 
                                                data-splitin="none" 
                                                data-splitout="none" 
                                                data-responsive_offset="on">
                                                WE WILL BE HAPPY
                                            </div>

                                            <div class="tp-caption tp-resizeme text-white font-heading font-weight-700 text-right"
                                                data-x="['right','right','right','center']" data-hoffset="['0','0','0','0']"
                                                data-y="['middle','middle','middle','middle']" data-voffset="['45','45','45','45']"
                                                data-fontsize="['52','52','42','32']"
                                                data-lineheight="['65','65','45','35']"
                                                data-width="full"
                                                data-height="none"
                                                data-whitespace="normal"
                                                data-transform_idle="o:1;"
                                                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                                data-mask_in="x:0px;y:[100%];" 
                                                data-mask_out="x:inherit;y:inherit;" 
                                                data-start="1000" 
                                                data-splitin="none" 
                                                data-splitout="none" 
                                                data-responsive_offset="on">
                                                TO TAKE CARE OF YOUR WORK
                                            </div>

                                            <div class="tp-caption text-right"
                                                data-x="['right','right','right','center']" data-hoffset="['0','0','0','0']"
                                                data-y="['middle','middle','middle','middle']" data-voffset="['153','153','153','153']"
                                                data-width="full"
                                                data-height="none"
                                                data-whitespace="normal"
                                                data-transform_idle="o:1;"
                                                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                                data-mask_in="x:0px;y:[100%];" 
                                                data-mask_out="x:inherit;y:inherit;" 
                                                data-start="1000" 
                                                data-splitin="none" 
                                                data-splitout="none" 
                                                data-responsive_offset="on">
                                                <a onclick="openForm()"  style="color: #fff; cursor: pointer;" class="themesflat-button bg-accent big"><span>GET IN TOUCH</span></a>
                                            </div>
                                        </li>
                                        <!-- /End Slide 3 -->
                                    </ul>
                                </div> 
                            </div>
                            <!-- END SLIDER -->

                                                        <!-- ABOUT -->
                            <div class="row-about" id="about">
                                <div class="container-fluid">
                                    <div class="row equalize sm-equalize-auto">
                                        <div class="col-md-6 half-background style-1">
                                            
                                        </div><!-- /.col-md-6 -->
                                        <div class="col-md-6 bg-light-grey">
                                            <div class="themesflat-spacer clearfix" data-desktop="64" data-mobile="60" data-smobile="60"></div>
                                            <div class="themesflat-content-box clearfix" data-margin="0 25% 0 4.5%" data-mobilemargin="0 0 0 4.5%">
                                                <div class="themesflat-headings style-1 clearfix">
                                                    <h2 class="heading">WELCOME TO AURALIA</h2>
                                                    <div class="sep has-width w80 accent-bg margin-top-11 clearfix"></div>                                               
                                                    <p class="sub-heading margin-top-30"> Auralia Residency takes care about every little detail which takes you closer to a leisurely lifestyle Enjoy your standing in an outstanding venture.</p>
                                                </div>
                                                <div class="themesflat-spacer clearfix" data-desktop="26" data-mobile="35" data-smobile="35"></div>
                                                <div class="content-list">
                                                    <div class="themesflat-list has-icon style-1 icon-left clearfix">
                                                        <div class="inner">
                                                            <span class="item">
                                                                <span class="icon"><i class="fa fa-check-square"></i></span>
                                                                <span class="text">Concealed, fire resistance copper wiring of polycab
                                                                    equivalent</span>
                                                            </span>
                                                        </div>
                                                    </div><!-- /.themeslat-list -->
                                                    <div class="themesflat-list has-icon style-1 icon-left clearfix">
                                                        <div class="inner">
                                                            <span class="item">
                                                                <span class="icon"><i class="fa fa-check-square"></i></span>
                                                                <span class="text">Adequate electrical points with premium modular
                                                                    switches</span>
                                                            </span>
                                                        </div>
                                                    </div><!-- /.themeslat-list -->
                                                    <div class="themesflat-list has-icon style-1 icon-left clearfix">
                                                        <div class="inner">
                                                            <span class="item">
                                                                <span class="icon"><i class="fa fa-check-square"></i></span>
                                                                <span class="text">Provision for tv, telephone and internet cable in living room
                                                                    provision for inverter</span>
                                                            </span>
                                                        </div>
                                                    </div><!-- /.themeslat-list -->
                                                    <div class="themesflat-list has-icon style-1 icon-left clearfix">
                                                        <div class="inner">
                                                            <span class="item">
                                                                <span class="icon"><i class="fa fa-check-square"></i></span>
                                                                <span class="text">Split AC provision for master bedroom</span>
                                                            </span>
                                                        </div>
                                                    </div><!-- /.themeslat-list -->
                                                </div><!-- /.content-list -->
                                                <div class="themesflat-spacer clearfix" data-desktop="42" data-mobile="35" data-smobile="35"></div>
                                                <div class="elm-button">
                                                    <a onclick="openForm()"  style="color: #fff; cursor: pointer;" class="themesflat-button bg-white">GET IN TOUCH</a>
                                                </div>
                                            </div><!-- /.themesflat-content-box --> 
                                            <div class="themesflat-spacer clearfix" data-desktop="75" data-mobile="60" data-smobile="60"></div>
                                        </div><!-- /.col-md-6 -->
                                    </div><!-- /.row -->
                                </div><!-- /.container-fluid -->
                            </div>
                            <!-- END ABOUT -->

                            <!-- ICONBOX -->
                            <div class="row-iconbox bg-row-2 ">
                                <div class="container ">
                                    <div class="row ">
                                        <div class="col-md-12">
                                            <div class="themesflat-spacer clearfix" data-desktop="60" data-mobile="60" data-smobile="60"></div>
                                            <div class="themesflat-headings style-1 text-center clearfix">
                                                <h2 class="heading text-white">LEADING CONSTRUCTION</h2>
                                                <div class="sep has-icon width-125 border-color-light clearfix">
                                                    <div class="sep-icon ">
                                                        <span class="sep-icon-before sep-center sep-solid"></span>
                                                        <span class="icon-wrap"><i class="Auralia-icon-build"></i></span>
                                                        <span class="sep-icon-after sep-center sep-solid"></span>
                                                    </div>
                                                </div>                                                
                                            </div>
                                            <div class="themesflat-spacer clearfix" data-desktop="25" data-mobile="35" data-smobile="35"></div>
                                        </div><!-- /.col-md-12 -->
                                    </div><!-- /.row -->

                                    <div class="themesflat-row gutter-30 gutter-mobile clearfix">
                                        <div class="col span_1_of_3 setwidth">
                                            <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="0" data-smobile="35"></div>
                                            <div class="themesflat-icon-box icon-top align-center has-width w95 circle light-bg accent-color style-1 bg-white-column padding-inner clearfix">
                                                <div class="icon-wrap">
                                                    <i class="fas fa-sun"></i>
                                                </div>
                                                <div class="text-wrap">
                                                    <h5 class="heading"><a href="#">Solar water heater</a></h5>
                                                    </div>
                                            </div><!-- /.themesflat-icon-box -->
                                            <div class="divider h35"></div>                                                                              
                                        </div><!-- /.col-md-3 -->

                                        <div class="col span_1_of_3 setwidth">
                                            <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="0" data-smobile="35"></div>
                                            <div class="themesflat-icon-box icon-top align-center has-width w95 circle light-bg accent-color style-1 bg-white-column padding-inner clearfix">
                                                <div class="icon-wrap">
                                                    <i class="fas fa-fan"></i>
                                                </div>
                                                <div class="text-wrap">
                                                    <h5 class="heading"><a href="#">exhaust fan</a></h5>
                                                </div>
                                            </div><!-- /.themesflat-icon-box -->
                                            <div class="divider h35"></div>                                       
                                        </div><!-- /.col-md-3 -->
                                        <div class="col span_1_of_3 setwidth">
                                            <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="35" data-smobile="35"></div>
                                            <div class="themesflat-icon-box icon-top align-center has-width w95 circle light-bg accent-color style-1 bg-white-column padding-inner clearfix">
                                                <div class="icon-wrap">
                                                    <i class="fas fa-fire"></i>
                                                </div>
                                                <div class="text-wrap">
                                                    <h5 class="heading"><a href="#">Fire fighting system</a></h5>
                                                    </div>
                                            </div><!-- /.themesflat-icon-box -->
                                        </div><!-- /.col-md-3 -->                                        
                                        <div class="col span_1_of_3 setwidth">
                                            <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="35" data-smobile="35"></div>
                                            <div class="themesflat-icon-box icon-top align-center has-width w95 circle light-bg accent-color style-1 bg-white-column padding-inner clearfix">
                                                <div class="icon-wrap">
                                                    <i class="fas fa-image"></i>
                                                </div>
                                                <div class="text-wrap">
                                                    <h5 class="heading"><a href="#">Landscape garden</a></h5>
                                                    </div>
                                            </div><!-- /.themesflat-icon-box -->
                                        </div><!-- /.col-md-3 -->
                                    </div><!-- /.row -->

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="themesflat-spacer clearfix" data-desktop="60" data-mobile="60" data-smobile="60"></div>
                                            <div class="themesflat-headings style-1 text-center clearfix">
                                               
                                                                                             
                                            </div>
                                            <div class="themesflat-spacer clearfix" data-desktop="25" data-mobile="35" data-smobile="35"></div>
                                        </div><!-- /.col-md-12 -->
                                    </div><!-- /.row -->
                                    <div class="themesflat-row gutter-30 gutter-mobile clearfix">
                                        <div class="col span_1_of_3 setwidth">
                                            <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="0" data-smobile="35"></div>
                                            <div class="themesflat-icon-box icon-top align-center has-width w95 circle light-bg accent-color style-1 bg-white-column padding-inner clearfix">
                                                <div class="icon-wrap">
                                                    <i class="fas fa-hotel"></i>
                                                </div>
                                                <div class="text-wrap">
                                                    <h5 class="heading"><a href="#">Alluring grand entrance lobby</a></h5>
                                                    </div>
                                            </div><!-- /.themesflat-icon-box -->
                                            <div class="divider h35"></div>                                                                              
                                        </div><!-- /.col-md-3 -->

                                        <div class="col span_1_of_3 setwidth">
                                            <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="0" data-smobile="35"></div>
                                            <div class="themesflat-icon-box icon-top align-center has-width w95 circle light-bg accent-color style-1 bg-white-column padding-inner clearfix">
                                                <div class="icon-wrap">
                                                    <i class="fas fa-bell"></i>
                                                </div>
                                                <div class="text-wrap">
                                                    <h5 class="heading"><a href="#">Video door Bell facility for main door</a></h5>
                                                    </div>
                                            </div><!-- /.themesflat-icon-box -->
                                            <div class="divider h35"></div>                                       
                                        </div><!-- /.col-md-3 -->
                                        <div class="col span_1_of_3 setwidth">
                                            <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="35" data-smobile="35"></div>
                                            <div class="themesflat-icon-box icon-top align-center has-width w95 circle light-bg accent-color style-1 bg-white-column padding-inner clearfix">
                                                <div class="icon-wrap">
                                                    <i class="fas fa-door-closed"></i>
                                                </div>
                                                <div class="text-wrap">
                                                    <h5 class="heading"><a href="#">Dg backup for lift & common area</a></h5>
                                                    </div>
                                            </div><!-- /.themesflat-icon-box -->
                                        </div><!-- /.col-md-3 -->                                        
                                        <div class="col span_1_of_3 setwidth">
                                            <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="35" data-smobile="35"></div>
                                            <div class="themesflat-icon-box icon-top align-center has-width w95 circle light-bg accent-color style-1 bg-white-column padding-inner clearfix">
                                                <div class="icon-wrap">
                                                    <i class="fas fa-male"></i>
                                                </div>
                                                <div class="text-wrap">
                                                    <h5 class="heading"><a href="#">Attractive entrance gate with security cabin</a></h5>
                                                    </div>
                                            </div><!-- /.themesflat-icon-box -->
                                        </div><!-- /.col-md-3 -->
                                    </div><!-- /.row -->

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="themesflat-spacer clearfix" data-desktop="80" data-mobile="60" data-smobile="60"></div>
                                        </div><!-- /.col-md-12 -->
                                    </div><!-- /.row -->
                                </div><!-- /.container -->
                            </div>
                            <!-- END ICONBOX -->

                             <!-- WHYUS -->
                            <div class="row-whyus">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="themesflat-spacer clearfix" data-desktop="61" data-mobile="60" data-smobile="60"></div>
                                            <div class="themesflat-headings style-1 text-center clearfix">
                                                <h2 class="heading">WHY CHOOSE US?</h2>
                                                <div class="sep has-icon width-125 clearfix">
                                                    <div class="sep-icon">
                                                        <span class="sep-icon-before sep-center sep-solid"></span>
                                                        <span class="icon-wrap"><i class="Auralia-icon-build"></i></span>
                                                        <span class="sep-icon-after sep-center sep-solid"></span>
                                                    </div>
                                                </div>                                                
                                            </div>
                                            <div class="themesflat-spacer clearfix" data-desktop="29" data-mobile="35" data-smobile="35"></div>
                                        </div><!-- /.col-md-12 -->
                                    </div><!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-6">                                            
                                            <div class="themesflat-content-box clearfix" data-margin="0 31px 0 0" data-mobilemargin="0 0 0 0">
                                                <p class="font-size-16 no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                <div class="themesflat-spacer clearfix" data-desktop="37" data-mobile="35" data-smobile="35"></div>
                                                <div class="themesflat-progress style-1 height-10px clearfix">
                                                    <h3 class="title">PARTNERSHIP</h3>
                                                    <div class="perc-wrap">
                                                        <div class="perc"><span>80%</span></div>
                                                    </div>
                                                    <div class="progress-bg" data-percent="80" data-inviewport="yes">
                                                        <div class="progress-animate"></div>
                                                    </div>
                                                </div><!-- /.themesflat-progrees -->
                                                <div class="themesflat-spacer clearfix" data-desktop="25" data-mobile="25" data-smobile="25"></div>
                                                <div class="themesflat-progress style-1 height-10px clearfix">
                                                    <h3 class="title">FULL SUPPORT</h3>
                                                    <div class="perc-wrap">
                                                        <div class="perc"><span>90%</span></div>
                                                    </div>
                                                    <div class="progress-bg" data-percent="90" data-inviewport="yes">
                                                        <div class="progress-animate"></div>
                                                    </div>
                                                </div><!-- /.themesflat-progrees -->
                                                <div class="themesflat-spacer clearfix" data-desktop="26" data-mobile="26" data-smobile="26"></div>
                                                <div class="themesflat-progress style-1 height-10px clearfix">
                                                    <h3 class="title">OPPORTUNITY</h3>
                                                    <div class="perc-wrap">
                                                        <div class="perc"><span>70%</span></div>
                                                    </div>
                                                    <div class="progress-bg" data-percent="70" data-inviewport="yes">
                                                        <div class="progress-animate"></div>
                                                    </div>
                                                </div><!-- /.themesflat-progrees -->
                                            </div><!-- /.themesflat-content-box -->                                                
                                        </div><!-- /.col-md-6 -->

                                        <div class="col-md-6">
                                            <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="0" data-smobile="35"></div>
                                            <div class="themesflat-content-box" data-margin="3px 0 0 10px" data-mobilemargin="0 0 0 0">
                                                <div class="themesflat-accordions style-2 has-icon icon-left iconstyle-2 clearfix">
                                                    <div class="accordion-item active">
                                                        <h3 class="accordion-heading"><span class="inner">Are there any hosting companies you... ?</span></h3>
                                                        <div class="accordion-content">
                                                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</div>
                                                        </div>
                                                    </div><!-- /.accordion-item -->
                                                    <div class="accordion-item">
                                                        <h3 class="accordion-heading"><span class="inner">We use technology to do the job more... ?</span></h3>
                                                        <div class="accordion-content">
                                                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</div>
                                                        </div>
                                                    </div><!-- /.accordion-item -->
                                                    <div class="accordion-item ">
                                                        <h3 class="accordion-heading"><span class="inner">Employees are continually trained on safety... ?</span></h3>
                                                        <div class="accordion-content">
                                                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</div>
                                                        </div>
                                                    </div><!-- /.accordion-item -->
                                                </div><!-- /.themesflat-accordion -->
                                            </div><!-- /.themesflat-content-box -->                                                
                                        </div><!-- /.col-md-6 -->
                                    </div><!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="themesflat-spacer clearfix" data-desktop="76" data-mobile="60" data-smobile="60"></div>
                                        </div><!-- /.col-md-12 -->
                                    </div><!-- /.row -->
                                </div><!-- /.container -->
                            </div>
                            <!-- END WHYUS  -->
                            
                                                    

<!-- PROJECT DETAIL -->
<div class="row-project-detail" id="project">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="themesflat-spacer clearfix" data-desktop="60" data-mobile="60" data-smobile="60"></div>
                <div class="detail-inner-wrap">
                    <div class="detail-info">
                        <div class="content-info">
                            <div class="themesflat-headings style-2 clearfix">
                                <h2 class="heading line-height-62">PROJECT NAME</h2>
                                <div class="sep has-width w80 accent-bg clearfix">
                                </div>                                                
                            </div>
                            <ul class="list-info has-icon icon-left">
                                <li><span class="text">Hinjewadi <span class="icon"><i class="fa fa-map-marker"></i></span></span><span class="right">4 km</span></li>
                                <li><span class="text">    Akurdi railway station<span class="icon"><i class="fa fa-map-marker"></i></span></span><span class="right">5 km
                                    </span></li>
                                <li><span class="text">Balewadi stadium <span class="icon"><i class="fa fa-map-marker"></i></span></span><span class="right">8 km </span></li>
                                <li><span class="text">
                                    Mumbai pune highway <span class="icon"><i class="fa fa-map-marker"></i></span></span><span class="right">350 mtr</span></li>
                                <li><span class="text">
                                    D.Y patil college  <span class="icon"><i class="fa fa-map-marker"></i></span></span><span class="right">4 km </span></li>
                                <li><span class="text">
                                    Aditya birla hospital<span class="icon"><i class="fa fa-map-marker"></i></span></span><span class="right"><a href="#">6 km </a><a href="#"></a></span></li>
                            </ul>
                        </div><!-- /.content-info -->

                        <div class="themesflat-spacer clearfix" data-desktop="46" data-mobile="35" data-smobile="35"></div>

                        <div class="content-info info-brochures">
                            <div class="themesflat-headings style-2 clearfix">
                                <h2 class="heading line-height-62">BROCHURES</h2>
                                <div class="sep has-width w60 accent-bg clearfix">
                                </div>                                                
                            </div>
                            <div class="themesflat-spacer clearfix" data-desktop="34" data-mobile="35" data-smobile="35"></div>
                            <div class="button-wrap has-icon icon-left size-14 pf21">
                                <a href="#" class="themesflat-button font-default bg-light-white w100"><span>Brochures.PDF <span class="icon"><i class="fa fa-file-pdf-o"></i></span></span></a>
                            </div>
                            <!--<div class="button-wrap has-icon icon-left size-14 pf21">
                                <a href="#" class="themesflat-button font-default bg-light-white w100"><span>Brochures.DOC <span class="icon"><i class="fa fa-file-word-o"></i></span></span></a>
                            </div>-->
                        </div>
                    </div>
                    <div class="detail-gallery">
                        <div class="themesflat-spacer clearfix" data-desktop="21" data-mobile="21" data-smobile="21"></div>
                        <div class="themesflat-gallery style-2 has-arrows arrow-center arrow-circle offset-v-82 has-thumb w185 clearfix" data-gap="0" data-column="1" data-column2="1" data-column3="1" data-auto="false">
                             <div class="owl-carousel owl-theme">
                                <div class="gallery-item" >
                                    <div class="inner">
                                        <div class="thumb">
                                            <img src="assets/img/gallery/1.png" alt="Image">
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery-item" >
                                    <div class="inner">
                                        <div class="thumb">
                                            <img src="assets/img/gallery/2.png" alt="Image">
                                        </div>
                                    </div>
                                </div>
                                 <div class="gallery-item" >
                                    <div class="inner">
                                        <div class="thumb">
                                            <img src="assets/img/gallery/3.png" alt="Image">
                                        </div>
                                    </div>
                                </div>
                                 <div class="gallery-item" >
                                    <div class="inner">
                                        <div class="thumb">
                                            <img src="assets/img/gallery/4.png" alt="Image">
                                        </div>
                                    </div>
                                </div>
                             </div>
                         </div><!-- /.themesflat-cousel-box -->
                        <div class="themesflat-spacer clearfix" data-desktop="40" data-mobile="40" data-smobile="40"></div>     
                        <div class="flat-content-wrap style-3 clearfix">
                            <h5 class="title">PROJECT DESCRIPTION</h5>
                            <div class="sep has-width w60 accent-bg margin-top-18 clearfix"></div>                                          
                            <p class="margin-top-28">Auralia Residency is a Home that Glitters your Dreams.
                                 Auralia Residency is a conceptualised to strike a perfect balance between luxury, comfort and value.
                                </p>
                            <p>Every little detail here takes you closer to a leisurely lifestyle
                                Enjoy your standing in an outstanding venture at Auralia Residency.
                                Smartly planned 2Bhk which will take you to another world of imperial lifestyle.
                                Its a no compromise home that comfortably fits your pocket and fully fills joy to your life</p>
                        </div>
                    </div>
                </div>
                <div class="themesflat-spacer clearfix" data-desktop="58" data-mobile="60" data-smobile="60"></div>
            </div>
        </div><!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="themesflat-lines style-1 line-full line-solid clearfix"><span class="line"></span></div>
                <div class="themesflat-spacer clearfix" data-desktop="46" data-mobile="35" data-smobile="35"></div>
                <div class="themesflat-headings style-2 clearfix">
                    <h2 class="heading">RELATED PROJECTS</h2>
                    <div class="sep has-width w80 accent-bg margin-top-3 clearfix"></div>
                </div><!-- /.themesflat-heading -->
                <div class="themesflat-spacer clearfix" data-desktop="35" data-mobile="35" data-smobile="35"></div>
                <div class="themesflat-carousel-box data-effect has-arrows arrow-top arrow75 arrow-circle arrow-style-2 clearfix" data-gap="30" data-column="3" data-column2="2" data-column3="1" data-auto="false">
                    <div class="owl-carousel owl-theme">
                        <div class="themesflat-project style-1 clearfix">
                            <div class="project-item">
                                <div class="inner">
                                    <div class="thumb data-effect-item has-effect-icon w40 offset-v-43 offset-h-46">
                                        <img src="assets/img/project/project-1-370x245.jpg" alt="Image">
                                        <div class="text-wrap text-center">                                          
                                            <h5 class="heading"><a href="#">LAKE MEADOWS APARTMENTS</a></h5>
                                            <div class="elm-meta">
                                                <span><a href="#">Architecture</a></span>
                                                <span><a href="#">Building</a></span>
                                            </div>
                                        </div>
                                        <div class="elm-link">
                                            <a href="#" class="icon-1 icon-search"></a>
                                            <a href="#" class="icon-1"></a>
                                        </div>
                                        <div class="overlay-effect bg-color-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.themesflat-project -->
                        <div class="themesflat-project style-1 clearfix">
                            <div class="project-item">
                                <div class="inner">
                                    <div class="thumb data-effect-item has-effect-icon w40 offset-v-43 offset-h-46">
                                        <img src="assets/img/project/project-2-370x245.jpg" alt="Image">  
                                        <div class="text-wrap text-center">                             
                                            <h5 class="heading"><a href="#">LAKE MEADOWS APARTMENTS</a></h5>
                                            <div class="elm-meta">
                                                <span><a href="#">Architecture</a></span>
                                                <span><a href="#">Building</a></span>
                                            </div>
                                        </div>
                                        <div class="elm-link">
                                            <a href="#" class="icon-1 icon-search"></a>
                                            <a href="#" class="icon-1"></a>
                                        </div>
                                        <div class="overlay-effect bg-color-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.themesflat-project -->
                        <div class="themesflat-project style-1 clearfix">
                            <div class="project-item">
                                <div class="inner">
                                    <div class="thumb data-effect-item has-effect-icon w40 offset-v-43 offset-h-46">
                                        <img src="assets/img/project/project-3-370x245.jpg" alt="Image">           
                                        <div class="text-wrap text-center">
                                            <h5 class="heading"><a href="#">LAKE MEADOWS APARTMENTS</a></h5>
                                            <div class="elm-meta">
                                                <span><a href="#">Architecture</a></span>
                                                <span><a href="#">Building</a></span>
                                            </div>
                                        </div>
                                        <div class="elm-link">
                                            <a href="#" class="icon-1 icon-search"></a>
                                            <a href="#" class="icon-1"></a>
                                        </div>
                                        <div class="overlay-effect bg-color-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.themesflat-project -->
                        <div class="themesflat-project style-1 clearfix">
                            <div class="project-item">
                                <div class="inner">
                                    <div class="thumb data-effect-item has-effect-icon w40 offset-v-43 offset-h-46">
                                        <img src="assets/img/project/project-1-370x245.jpg" alt="Image">
                                        <div class="text-wrap text-center">                                          
                                            <h5 class="heading"><a href="#">LAKE MEADOWS APARTMENTS</a></h5>
                                            <div class="elm-meta">
                                                <span><a href="#">Architecture</a></span>
                                                <span><a href="#">Building</a></span>
                                            </div>
                                        </div>
                                        <div class="elm-link">
                                            <a href="#" class="icon-1 icon-search"></a>
                                            <a href="#" class="icon-1"></a>
                                        </div>
                                        <div class="overlay-effect bg-color-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.themesflat-project -->
                        <div class="themesflat-project style-1 clearfix">
                            <div class="project-item">
                                <div class="inner">
                                    <div class="thumb data-effect-item has-effect-icon w40 offset-v-43 offset-h-46">
                                        <img src="assets/img/project/project-2-370x245.jpg" alt="Image">  
                                        <div class="text-wrap text-center">                             
                                            <h5 class="heading"><a href="#">LAKE MEADOWS APARTMENTS</a></h5>
                                            <div class="elm-meta">
                                                <span><a href="#">Architecture</a></span>
                                                <span><a href="#">Building</a></span>
                                            </div>
                                        </div>
                                        <div class="elm-link">
                                            <a href="#" class="icon-1 icon-search"></a>
                                            <a href="#" class="icon-1"></a>
                                        </div>
                                        <div class="overlay-effect bg-color-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.themesflat-project -->
                        <div class="themesflat-project style-1 clearfix">
                            <div class="project-item">
                                <div class="inner">
                                    <div class="thumb data-effect-item has-effect-icon w40 offset-v-43 offset-h-46">
                                        <img src="assets/img/project/project-3-370x245.jpg" alt="Image">           
                                        <div class="text-wrap text-center">
                                            <h5 class="heading"><a href="#">LAKE MEADOWS APARTMENTS</a></h5>
                                            <div class="elm-meta">
                                                <span><a href="#">Architecture</a></span>
                                                <span><a href="#">Building</a></span>
                                            </div>
                                        </div>
                                        <div class="elm-link">
                                            <a href="#" class="icon-1 icon-search"></a>
                                            <a href="#" class="icon-1"></a>
                                        </div>
                                        <div class="overlay-effect bg-color-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.themesflat-project -->
                    </div>
                </div><!-- /.themesflat-carousel-box -->
                <div class="themesflat-spacer clearfix" data-desktop="80" data-mobile="60" data-smobile="60"></div>
            </div>
        </div>
    </div><!-- /.container -->
</div>
<!-- END PROJECT DETAIL -->
</div><!-- /.page-content -->


                            
                       </div><!-- /.page-content -->
                    </div><!-- /#inner-content -->
                </div><!-- /#site-content -->
            </div><!-- /#content-wrap -->
        </div><!-- /#main-content -->



    

        <!-- Footer -->
        <footer id="footer" class="clearfix">
            <div id="footer-widgets" class="container">
                <div class="themesflat-row gutter-30">
                    <div class="col span_1_of_3">
                        <div class="widget widget_text">
                            <div class="textwidget" id="contact">
                                <p>
                                    <img src="assets/img/logoBlack.png" alt="Image" width="150" height="15">
                                </p>

                                <p class="margin-bottom-15">Auralia Residency is an Home that Glitters your Dreams.</p>

                                <ul>
                                    <li>
                                        <div class="inner">
                                            <span class="fa fa-map-marker"></span>
                                            <span class="text">37/5, 18 Mtr D.P road, Dhawle,Pandhare Wasti Rd, Punawale, Pune, Maharashtra 411033</span>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="inner">
                                            <span class="fa fa-phone"></span>
                                            <span class="text">CALL US : +91 9545221751</span>
                                        </div>
                                    </li>

                                    <li class="margin-top-7">
                                        <div class="inner">
                                            <span class=" font-size-14 fa fa-envelope"></span>
                                            <span class="text"> auraliaresidency@gmail.com / sales.auraliaresidency@gmail.com</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.widget_text -->
                        <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="0" data-smobile="35"></div>
                    </div><!-- /.col -->



                    <div class="col span_1_of_3" >
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60497.776886571526!2d73.73618342493724!3d18.614074012665085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bbf8ce250dd3%3A0xd320205c48ebf8bb!2sAuralia%20Residency!5e0!3m2!1sen!2sin!4v1608189175265!5m2!1sen!2sin" width="600" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div><!-- /.col -->

                    
                   
                </div><!-- /.themesflat-row -->
            </div><!-- /#footer-widgets -->
        </footer><!-- /#footer -->
        <button class="open-button" onclick="openForm()">Enquiry Now</button>

                            <div class="form-popup" id="myForm">
                              <form action="/submit" method="POST" class="form-container">
                                <h2 class="" style="color: #FFC30C;">Enquiry Now</h2>
                                     
                                      <label  for="name">Name:</label>
                                      <input type="text" placeholder="Enter Name" name="name" required><br>
                                      <label  for="name">Phone:</label>
                                      <input type="text" placeholder="Enter Phone Number" name="phone" required><br>
                                      <label  for="email">Email:</label>
                                      <input type="email" placeholder="Enter Email" name="email" required><br>
                                      <label>Message:</label>
                                      <textarea row=2 placeholder="Enter your message" name="message"></textarea><br>
                                      <button type="submit" class="btn" style=" background-color: #FFC30C; color: #fff;">Send</button>
                                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                              </form>
                            </div> 

        <!-- Bottom -->
        <div id="bottom" class="clearfix has-spacer">
            <div id="bottom-bar-inner" class="container">
                <div class="bottom-bar-inner-wrap">
                    <div class="bottom-bar-content">
                        <a href="" style="color: #fff;">Product by<img src="assets/img/productbylogo.png" width="60" height="4"></a>
                    </div><!-- /.bottom-bar-content -->

                    <div class="bottom-bar-menu">
                        <ul class="bottom-nav">
                            <li class="menu-item current-menu-item">
                                <a href="home-2.html">HOME</a>
                            </li>
                            <li class="menu-item">
                                <a href="#about">ABOUT US </a>
                            </li>
                           
                            <li class="menu-item">
                                <a href="#project">PROJECTS</a>
                            </li>
                            
                            <li class="menu-item">
                                <a href="#contact">CONTACT</a>
                            </li>
                        </ul>
                    </div><!-- /.bottom-bar-menu -->
                </div><!-- /.bottom-bar-inner-wrap -->                
            </div><!-- /#bottom-bar-inner -->
        </div><!-- /#bottom -->

    </div><!-- /#page -->
</div><!-- /#wrapper -->

<a id="scroll-top"></a>

<script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }
    
    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
    </script>
<!-- Javascript -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/tether.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/animsition.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/countto.js"></script>
<script src="assets/js/equalize.min.js"></script>
<script src="assets/js/jquery.isotope.min.js"></script>
<script src="assets/js/owl.carousel2.thumbs.js"></script>

<script src="assets/js/jquery.cookie.js"></script>
<script src="assets/js/gmap3.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIEU6OT3xqCksCetQeNLIPps6-AYrhq-s&amp;region=GB"></script>
<script src="assets/js/shortcodes.js"></script>
<script src="assets/js/main.js"></script>

<!-- Revolution Slider -->
<script src="includes/rev-slider/js/jquery.themepunch.tools.min.js"></script>
<script src="includes/rev-slider/js/jquery.themepunch.revolution.min.js"></script>
<script src="assets/js/rev-slider.js"></script>
<!-- Load Extensions only on Local File Systems ! The following part can be removed on Server for On Demand Loading -->  
<script src="includes/rev-slider/js/extensions/revolution.extension.actions.min.js"></script>
<script src="includes/rev-slider/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="includes/rev-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="includes/rev-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="includes/rev-slider/js/extensions/revolution.extension.migration.min.js"></script>
<script src="includes/rev-slider/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="includes/rev-slider/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="includes/rev-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="includes/rev-slider/js/extensions/revolution.extension.video.min.js"></script>

</body>


</html>

